

.body	{
	font-family: "Times New Roman", serif;
	font-size: 12pt;
	background-color: white;
	color: black;
}

.logsign-box	{
	background-color: #FAF0E6;
	width: max-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	/* margin-top: 20px; */
	border: 5px solid #66CDAA;
	border-radius: 5px;
	padding: 5px 10px;
}

.logsign-head	{
	font-size: 16pt;
	font-weight: bold;
	color: #2F4F4F;
}

.logsign-body	{
	color: grey;
}