.body	{
	font-family: "Times New Roman", serif;
	font-size: 12pt;
	background-color: white;
	color: black;
}

.logsign-box	{
	background-color: #FAF0E6;
	width: max-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	margin-top: 20px;
	border-left: 5px solid #66CDAA;
	border-right: 5px solid #66CDAA;
	border-radius: 5px;
	padding: 5px 10px;
}

.logsign-head	{
	font-size: 16pt;
	font-weight: bold;
	color: #2F4F4F;
}

.logsign-body	{
	color: grey;
}

.input-line	{
	margin-bottom: 15px;
	position: relative;
}

.input-line label 	{
	position: absolute;
	color: #777;
	transition: opacity 0.2s ease-in;
	top: 0;
	left: 0;
	pointer-events: none;
}

.input-line input:focus +label,
.input-line input:not(:placeholder-shown)+label	{
	background-color: #fff;
	opacity: 0;
	left: 0;
}

.button	{
	background-color: #66CDAA;
	color: white;
	font-weight: bold;
}

.input-check {
	margin-bottom: 15px;
	position: relative;
	color: black;
}

/* -----Index Styles----- */
body#index {
	font-size: 20px;
	background-color: lightyellow;
}
#index h1 {
	font-size: 28px;
	margin-top: 2px;
	margin-bottom: 1px;
}
#index h2 {
	font-size: 26px;
	margin-bottom: 1px;
}
#index #intro {
	width: 50%;
	text-align: center;
	margin: 0 auto;
}
#intro #logo {
	width: 100%;
	height: 160px;
}
#index button {
	background-color: green;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 12px;
}
#index #login {
	max-width: 25%;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: 8px;
	right: 16px;
}
#index #signup {
	max-width: 25%;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: 8px;
	left: 16px;
}

/* -----Login Styles----- */
body#login {
    position: fixed;
    top: 25%;
    left:32%;
    right:20%;

}
#login .main{
    display: flex;
    justify-content: center;
    border: 2px solid grey;
    border-radius: 10px;
    max-width: fit-content;
}
#login .error{
    color: red;
}
#login .left-column {
    display:flex;
    flex-direction: column;
    border-right: 1px solid grey;
    max-width: fit-content;
    text-align: center;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
}

#login .left-column a #login .left-container p {
    margin-top: 0;
    text-decoration: none;
    color: black;
}

#login .left-column a{
    text-decoration: none;
}

#login .left-column img{
    align-self: center;
    padding-top: 5px;
    height: 30px;
    width: 35px;
}



#login .login-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


#login .form{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#login .form label{
    padding: 10px;
}



#login .login-container h2{
 text-align: center;
}

#login .form input[type="text"]{
    height: 25px;
 width: 250px;
}

#login .form input[type="password"] {
    height: 25px;
    width: 250px;
}
#login .form button[type="submit"] {
    background-color: green;
    align-self: center;
    color: white;
    width: 255px;
    height: 30px;
    margin-top: 10px;
    margin-left: 56px;
    padding-top: 5px;
    padding-bottom: 20px;
    cursor: pointer;
   
}

#login .login-container a{
    padding: 10px;
    align-self: center;
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

#login .left-container{
    height: 100px;
    width: 150px;
}

#login .left-container:hover{
    background-color: green;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}